@import '../app/variables.module';

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: 375px;
  height: 100vh;
  padding: 0 var(--horizontal-padding-initial);
  overflow-x: hidden;

  @media (min-width: $screen-sm) {
    padding: 0 var(--horizontal-padding-sm);
  }

  @media (min-width: $screen-md) {
    padding: 0 var(--horizontal-padding-md);
  }

  @media (min-width: $screen-lg) {
    padding: 0 var(--horizontal-padding-lg);
  }
  
  @media (min-width: $screen-xl) {
    padding: 0 var(--horizontal-padding-xl);
  }
}

.main_container {
  width: 100%;
  max-width: calc($screen-xxl - var(--horizontal-padding-xl) * 2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5px;

  @media (min-width: $screen-sm) {
    margin-top: 86px;
  }

  @media (min-width: $screen-md) {
    margin-top: 86px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 128px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 160px;
  }
}