@import '../app/variables.module';

.invitation {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.invitation_heding {
  text-align: center;
  font-size: 2.3rem;
  line-height: 1.2;
}

.examples {
  background-color: var(--mint-background);
  border-radius: 40px;
  margin-top: 40vw;

  @media (min-width: $screen-md) {
    display: flex;
    gap: 2%;
    padding: 0 4% 16%;
    margin-top: 20vw;
  }

  @media (min-width: $screen-xxl) {
    margin-top: 264px;
  }
}

.example_container {
  position: relative;
  top: -24vw;
  left: 6%;
  width: 87%;
  margin-bottom: 50%;

  @media (min-width: $screen-md) {
    top: -6vw;
    left: 0;
    margin-bottom: 0;

    @media (min-width: $screen-xxl) {
      top: -80px;
    }

    &:nth-child(2) {
      top: -10vw;

      @media (min-width: $screen-xxl) {
        top: -172px;
      }
    }
  }
}

// ¯\_(ツ)_/¯
//     ||
//     \/
.example {
  position: static !important; // Alas! Because <Image> with 'fill' prop unexpectedly sets it's own position to 'absolute', and it's not what is needed!
}

.example_text {
  position: absolute;
  padding: 8%;
  font-size: 4vw;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow:
    0px 175px 49px 0px rgba(64, 160, 144, 0.00),
    0px 112px 45px 0px rgba(64, 160, 144, 0.01),
    0px 63px 38px 0px rgba(64, 160, 144, 0.05),
    0px 28px 28px 0px rgba(64, 160, 144, 0.09),
    0px 7px 15px 0px rgba(64, 160, 144, 0.10);
  z-index: 10;

  @media (min-width: $screen-sm) {
    border-radius: 32px;
  }

  @media (min-width: $screen-md) {
    font-size: 1.4vw;
    border-radius: 20px;
  }

  @media (min-width: $screen-xxl) {
    padding: 2rem;
    font-size: 1.5rem;
  }

  &__1 {
    bottom: -16%;
    left: -2%;
    width: 75%;

    @media (min-width: $screen-md) {
      bottom: -4%;
      left: -20%;
    }
  }

  &__2 {
    bottom: -20%;
    left: 2%;
    width: 110%;

    @media (min-width: $screen-md) {
      bottom: -30%;
      left: 26%;
    }
  }

  &__3 {
    bottom: -7%;
    right: -10%;
    width: 65%;

    @media (min-width: $screen-md) {
      bottom: 38%;
      right: -24%;
    }
  }
}

$avatarsNumber: 5;

.invitation_avatars_container {
  --avatar_size: 80px;
  --avatar_shift: 1.5;

  position: relative;
  // width: calc(var(--avatar_size) * ($avatarsNumber / var(--avatar_shift)) + (var(--avatar_size) / var(--avatar_shift) / 2));
  width: calc(var(--avatar_size) * ($avatarsNumber * 2 + 1) / (2 * var(--avatar_shift))); // shorter, but nihuja not understandable!
  height: 80px;
  margin: 0 auto;
}

.invitation_avatar {
  position: absolute;
  top: 0;
  
  @for $i from 1 through $avatarsNumber {
    &:nth-child(#{$i}) {
      left: calc((#{$i} - 1) * var(--avatar_size) / var(--avatar_shift));
      z-index: $i * -1;
    }
  }
}

.invitation_text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.4;
}

.discord_button {
  width: 100%;
  gap: 12px;
  padding: 18px 28px;
}
